fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic
email-validator
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart
pydantic-settings
alembic
fastapi-mail
phonenumbers
psycopg2-binary
